.main__header {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  height: 4.5rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 11rem;
}

@media only screen and (max-width: 1300px) {
  .header__nav {
    margin: 0 6rem;
  }
}

@media only screen and (max-width: 1139px) {
  .header__nav {
    margin: 0 4.5rem;
  }
}

.nav__h2 {
  font-size: 1.5rem;
  letter-spacing: 3px;
}

@media only screen and (max-width: 820px) {
  .header__nav {
    margin: 0 1rem;
  }
}

.nav__ul {
  display: flex;
  list-style: none;
}

@media only screen and (max-width: 820px) {
  .nav__ul {
    display: none;
  }
}

.nav__ul a {
  color: #252525;
  font-weight: 700;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 0.1s ease;
}

.nav__menu {
  display: none;
  height: 50px;
  width: 50px;
}

.nav__menu:hover {
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  .nav__menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.div__menu--line1,
.div__menu--line2,
.div__menu--line3 {
  background-color: #000;
  border-radius: 10px;
  height: 4px;
  margin: 3px;
  width: 32px;
}

.AnimateLine1 {
  animation: flipBar1 0.5s forwards;
}

.AnimateLine2 {
  animation: fadeBar2 0.5s forwards;
}

.AnimateLine3 {
  animation: flipBar3 0.5s forwards;
}

@keyframes flipBar1 {
  100% {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes fadeBar2 {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}

@keyframes flipBar3 {
  100% {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

.nav__mobile {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-top: 4.5rem;
  position: fixed;
  right: -100vw;
  top: 0;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 100vw;
  z-index: 2;
}

.active {
  transform: translateX(-100vw);
}

@media only screen and (min-width: 820px) {
  .nav__mobile {
    display: none;
  }
}

.nav__mobile a {
  color: var(--black);
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;
  text-decoration: none;
}

.nav__mobile a:hover {
  color: var(--purple);
}

.app__section {
  background-color: #f7f7f7;
  box-sizing: border-box;
  flex-direction: column;
  height: 100vh;
  min-height: 900px;
  padding: 11rem 11rem 6.5rem;
}

@media only screen and (max-width: 1139px) {
  .app__section {
    height: 100%;
    padding: 6rem 1.5rem 1.5rem;
  }
}

@media only screen and (max-width: 1300px) {
  .app__section {
    padding: 10.5rem 6rem 6rem;
  }
}
.section__div,
.app__section {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1139px) {
  .section__div {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.div__presentation--title {
  width: 33rem;
}

@media only screen and (max-width: 1300px) {
  .div__presentation--title {
    width: 30rem;
  }
}

h1 {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, var(--black), var(--purple));
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 3.7rem;
  letter-spacing: 2px;
  margin: 0;
}

@media only screen and (max-width: 1300px) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1300px) {
  .intro-p {
    font-size: 1rem;
    width: 20rem;
    width: 25rem;
  }
}

@media only screen and (max-width: 1139px) {
  .intro-p,
  h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 1139px) {
  .intro-p {
    margin: 1.5rem 0;
    width: 100%;
  }
}

@media only screen and (max-width: 670px) {
  .intro-p {
    width: 55%;
  }
}

.div__presentation {
  display: block;
}
@media only screen and (max-width: 1300px) {
  .div__presentation {
    width: 30rem;
  }
}

@media only screen and (max-width: 670px) {
  .div__presentation {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.intro-p span {
  color: var(--purple);
  font-weight: 700;
}

.div__presentation--ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1139px) {
  .div__presentation--ul {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}

.bx {
  font-family: boxicons !important;
  /* font-weight: 400; */
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  speak-as: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bx-md {
  font-size: 2.25rem !important;
}

.bxl-linkedin-square,
.bxs-envelope,
.bxs-phone {
  color: var(--black);
}

.bxl-github,
.bxl-linkedin-square {
  color: var(--black);
  transition: color 0.1s ease;
}

.bxl-linkedin-square:before {
  content: "\e94e";
}

.bxl-github:before {
  content: "\e93a";
}

.bxl-github:hover,
.bxl-linkedin-square:hover {
  color: var(--purple);
}

.section__div--img {
  background: url(/src/assets/my_photo.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 3px solid var(--black);
  border-radius: 7rem;
  height: 20rem;
  width: 20rem;
}

@media only screen and (max-width: 670px) {
  .section__div--img {
    border-radius: 5rem;
    height: 15rem;
    width: 15rem;
  }
}

@media only screen and (max-width: 1139px) {
  .section__div--img {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 1300px) {
  .section__div--img {
    height: 18rem;
    width: 18rem;
  }
}
