.app__main .prueba {
  padding: 10rem;
}

.main__header {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  height: 4.5rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 11rem;
}

@media only screen and (max-width: 1300px) {
  .header__nav {
    margin: 0 6rem;
  }
}

@media only screen and (max-width: 1139px) {
  .header__nav {
    margin: 0 4.5rem;
  }
}

.nav__h2 {
  font-size: 1.5rem;
  letter-spacing: 3px;
}

@media only screen and (max-width: 820px) {
  .header__nav {
    margin: 0 1rem;
  }
}

.nav__ul {
  display: flex;
  list-style: none;
}

@media only screen and (max-width: 820px) {
  .nav__ul {
    display: none;
  }
}

.nav__ul a {
  color: #252525;
  font-weight: 700;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 0.1s ease;
}

.nav__ul a:hover {
  background-color: rgba(237, 237, 237, 0.5);
  cursor: pointer;
}

.nav__menu {
  display: none;
  height: 50px;
  width: 50px;
}

.nav__menu:hover {
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  .nav__menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.div__menu--line1,
.div__menu--line2,
.div__menu--line3 {
  background-color: #000;
  border-radius: 10px;
  height: 4px;
  margin: 3px;
  width: 32px;
}

.AnimateLine1 {
  animation: flipBar1 0.5s forwards;
}

.AnimateLine2 {
  animation: fadeBar2 0.5s forwards;
}

.AnimateLine3 {
  animation: flipBar3 0.5s forwards;
}

@keyframes flipBar1 {
  100% {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes fadeBar2 {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}

@keyframes flipBar3 {
  100% {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

.nav__mobile {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-top: 4.5rem;
  position: fixed;
  right: -100vw;
  top: 0;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 100vw;
  z-index: 2;
}

.active {
  transform: translateX(-100vw);
}

@media only screen and (min-width: 820px) {
  .nav__mobile {
    display: none;
  }
}

.nav__mobile a {
  color: var(--black);
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;
  text-decoration: none;
}

.nav__mobile a:hover {
  color: var(--purple);
}

.app__section {
  background-color: #f7f7f7;
  box-sizing: border-box;
  flex-direction: column;
  height: 100vh;
  min-height: 900px;
  padding: 11rem 11rem 6.5rem;
}

.section__div,
.app__section {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
  .app__section {
    padding: 10.5rem 6rem 6rem;
  }
}

@media only screen and (max-width: 1139px) {
  .app__section {
    height: 100%;
    padding: 6rem 1.5rem 1.5rem;
  }
}

@media only screen and (max-width: 1139px) {
  .section__div {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

h1 {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, var(--black), var(--purple));
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 3.7rem;
  letter-spacing: 2px;
  margin: 0;
}

@media only screen and (max-width: 1300px) {
  h1 {
    font-size: 3rem;
  }
}

.intro-p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2rem 0 2.7rem;
  width: 25rem;
}

@media only screen and (max-width: 1300px) {
  .intro-p {
    font-size: 1rem;
    width: 20rem;
    width: 25rem;
  }
}

@media only screen and (max-width: 1139px) {
  .intro-p,
  h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 1139px) {
  .intro-p {
    margin: 1.5rem 0;
    width: 100%;
  }
}

@media only screen and (max-width: 670px) {
  .intro-p {
    width: 55%;
  }
}

.div__presentation {
  display: block;
}
@media only screen and (max-width: 1300px) {
  .div__presentation {
    width: 30rem;
  }
}

@media only screen and (max-width: 670px) {
  .div__presentation {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.intro-p span {
  color: var(--purple);
  font-weight: 700;
}

.div__presentation--ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.div__presentation--ul li:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

@media only screen and (max-width: 1139px) {
  .div__presentation--ul {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}

.bx {
  font-family: boxicons !important;
  /* font-weight: 400; */
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  speak-as: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bx-md {
  font-size: 2.25rem !important;
}

.bxl-linkedin-square,
.bxs-envelope,
.bxs-phone {
  color: var(--black);
}

.bxl-github,
.bxl-linkedin-square {
  color: var(--black);
  transition: color 0.1s ease;
}

.bxl-linkedin-square:before {
  content: "\e94e";
}

.bxl-github:before {
  content: "\e93a";
}

.bxl-github:hover,
.bxl-linkedin-square:hover,
.bxs-envelope:hover,
.bxs-phone:hover {
  color: var(--purple);
}

.section__div--img {
  background: url(/src/assets/my_photo.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 3px solid var(--black);
  border-radius: 7rem;
  height: 20rem;
  width: 20rem;
}

@media only screen and (max-width: 670px) {
  .section__div--img {
    border-radius: 5rem;
    height: 15rem;
    width: 15rem;
  }
}

@media only screen and (max-width: 1139px) {
  .section__div--img {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 1300px) {
  .section__div--img {
    height: 18rem;
    width: 18rem;
  }
}

.section__div--skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.divv__mySkills--content {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  width: 37rem;
}

@media only screen and (max-width: 670px) {
  .divv__mySkills--content {
    padding: 1.5rem;
    width: 100%;
  }
}

.div__mySkills--a {
  background: url(/src/assets/js.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

.div__mySkills--a:hover {
  border-radius: 10px;

  transition: 0.5s;
  box-shadow: 0 0 5px var(--js), 0 0 10px var(--js), 0 0 15px var(--js),
    0 0 20px var(--js), 0 0 25px var(--js), 0 0 50px var(--js),
    0 0 200px var(--js);
}

.div__mySkills--b {
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  --color: #61dafb;
  color: var(--color);
  font-size: 2.5rem;
}

.div__mySkills--b:hover {
  background: var(--color);
  box-shadow: 0 0 5px var(--color), 0 0 25px var(--color), 0 0 50px var(--color),
    0 0 200px var(--color);
  transition: 0.5s;
}

.div__mySkills--b i:hover {
  color: #fff !important;
}

.div__mySkills--c {
  background: url(/src/assets/typescript.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

.div__mySkills--c:hover {
  transition: 0.5s;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--typescript), 0 0 10px var(--typescript),
    0 0 15px var(--typescript), 0 0 20px var(--typescript),
    0 0 25px var(--typescript), 0 0 50px var(--typescript),
    0 0 200px var(--typescript);
}

.div__mySkills--d {
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  font-size: 2.5rem;
}

.div__mySkills--d:hover {
  --bcss: rgb(24, 49, 83, 1);
  background: var(--bcss);
  box-shadow: 0 0 5px var(--bcss), 0 0 25px var(--bcss), 0 0 50px var(--bcss),
    0 0 200px var(--bcss);
  transition: 0.5s;
}

.div__mySkills--e {
  background: url(/src/assets/php-logo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.div__mySkills--e:hover {
  background: url(/src/assets/phpwhite.png);
  background-repeat: no-repeat;
  background-size: contain;
  --bcss: rgb(24, 49, 83, 1);
  background-color: var(--bcss);
  transition: 0.5s;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--bcss), 0 0 25px var(--bcss), 0 0 50px var(--bcss),
    0 0 200px var(--bcss);
}

.div__mySkills--a,
.div__mySkills--b,
.div__mySkills--c,
.div__mySkills--d,
.div__mySkills--e {
  height: 3rem;
  width: 3rem;
}

@media only screen and (max-width: 500px) {
  .div__mySkills--a,
  .div__mySkills--b,
  .div__mySkills--c,
  .div__mySkills--d,
  .div__mySkills--e {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.app__section--about {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #ededed;
  padding: 6.5rem 11rem;
}

@media only screen and (max-width: 1400px) {
  .app__section--about {
    padding: 6rem 1.5rem;
  }
}

@media only screen and (max-width: 720px) {
  .app__section--about {
    padding: 6rem 4.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .app__section--about {
    padding: 6.5rem 1.5rem;
  }
}

.section__div--title {
  color: var(--black);
  margin-bottom: 3rem;
}

.section__div--title h2 {
  border-bottom: 3px solid var(--purple);
  font-size: 1.7rem;
  margin: 0;
  padding: 0 0 0.3rem;
}

.section__div--content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1070px) {
  .section__div--content {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
}

.div__content--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  width: 60%;
}

@media only screen and (max-width: 1400px) {
  .div__content--text {
    width: 37rem;
  }
}

@media only screen and (max-width: 720px) {
  .div__content--text {
    width: 100%;
  }
}

.div__content--img {
  background: url(/src/assets/photo_title.jpg);
  background-position-y: 21%;
  background-size: cover;
  border-radius: 50%;
  height: 10rem;
  position: absolute;
  right: -4rem;
  top: -4rem;
  width: 10rem;
}

.div__content--img,
.div__content--text {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

@media only screen and (max-width: 1400px) {
  .div__content--img {
    height: 8rem;
    margin: 0 0 1.5rem;
    right: -3rem;
    top: -3rem;
    width: 8rem;
  }
}

@media only screen and (max-width: 500px) {
  .div__content--img {
    height: 3rem;
    right: 2rem;
    top: 1rem;
    width: 3rem;
  }
}

@media only screen and (max-width: 460px) {
  .div__content--img {
    right: 2rem;
    top: 2rem;
  }
}

.div__content--text h3 {
  font-size: 1.9rem;
  margin: 0 4rem 1rem 0;
}

@media only screen and (max-width: 1400px) {
  .div__content--text h3 {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 1070px) {
  .div__content--text,
  .div__content--text h3 {
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .div__content--text h3 {
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .div__content--text h3 {
    font-size: 1rem;
    margin-right: 5rem;
  }
}

.div__content--text p {
  font-weight: 500;
  margin: 0;
}

@media only screen and (max-width: 1400px) {
  .div__content--text p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1070px) {
  .div__content--text p {
    text-align: center;
  }
}

.app__section--projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 6.5rem 11rem;
  background-color: #f7f7f7;
}

@media only screen and (max-width: 1400px) {
  .app__section--projects {
    padding: 6rem 1.5rem;
  }
}

@media only screen and (max-width: 720px) {
  .app__section--projects {
    padding: 6rem 4.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .app__section--projects {
    padding: 6.5rem 1.5rem;
  }
}

.div__projects--title h2 {
  border-bottom: 3px solid var(--purple);
  font-size: 1.7rem;
  margin: 0;
  padding: 0 0 0.3rem;
  margin-bottom: 3rem;
}

.div__projects--cards-container {
  grid-gap: 3rem;
  box-sizing: border-box;
  display: grid;
  gap: 3rem;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(
    0,
    1fr
  ); /* cuando haya mas proyectos aumentar esto como esta abajo */
  /* grid-template-rows:
    minmax(0, 1fr)
    minmax(0, 1fr) minmax(0, 1fr); */
}

.div__projects--contain {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  padding: 2rem;
}

.project--1 {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1139px) {
  .div__projects--contain {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

@media only screen and (max-width: 1139px) {
  .left {
    padding-bottom: 2rem;
    width: 100%;
  }
}

@media only screen and (max-width: 710px) {
  .left {
    justify-content: flex-start;
  }
}

.top {
  text-align: center;
}

@media only screen and (max-width: 710px) {
  .top {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.project--title {
  font-size: 1.7rem;
  margin: 0 0 1rem;
}

@media only screen and (max-width: 710px) {
  .project--title {
    font-size: 1.3rem;
  }
}

.project--description {
  margin: 0;
}

@media only screen and (max-width: 1139px) {
  .project--description {
    margin-bottom: 2rem;
  }
}

.top p {
  font-weight: 500;
}

.bottom {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1139px) {
  .bottom {
    align-items: center;
    justify-content: center;
  }
}

.bottom > h3 {
  margin: 0 0 1rem;
  text-align: center;
}

@media only screen and (max-width: 1139px) {
  .bottom h3 {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 710px) {
  .bottom h3,
  .project--description {
    font-size: 0.8rem;
  }
}

.project--skills {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media only screen and (max-width: 1139px) {
  .project--skills {
    width: 60%;
  }
}

@media only screen and (max-width: 523px) {
  .project--skills {
    width: 100%;
  }
}

.skill--1 {
  background: url(/src/assets/js.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.skill--2 {
  background: url(/src/assets/react.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.skill--3 {
  background: url(/src/assets/css.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.skill--4 {
  background: url(/src/assets/laravel.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.skill--1,
.skill--2,
.skill--3,
.skill--4 {
  height: 2.5rem;
  width: 2.5rem;
}

@media only screen and (max-width: 500px) {
  .skill--1,
  .skill--2,
  .skill--3,
  .skill--4 {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 710px) {
  .right {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}

@media only screen and (max-width: 438px) {
  .img-link,
  .img-proyect-1,
  .img-proyect-2,
  .img-proyect-3,
  .img-proyect-4 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 9rem;
    width: 100%;
  }
}

.img-proyect-1,
.img-proyect-2,
.img-proyect-3,
.img-proyect-4 {
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  height: 15rem;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  width: 25rem;
}

.img-proyect-1 {
  background: url(/src/assets/project1.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-proyect-1:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

@media only screen and (max-width: 710px) {
  .img-proyect-1,
  .img-proyect-2,
  .img-proyect-3,
  .img-proyect-4 {
    height: 12rem;
    width: 20rem;
  }
}

@media only screen and (max-width: 438px) {
  .img-link,
  .img-proyect-1,
  .img-proyect-2,
  .img-proyect-3,
  .img-proyect-4 {
    background-position: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 9rem;
    width: 100%;
  }
}

.project--links {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.proyect--links a {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem 0;
  text-decoration: none;
}

.bx-globe {
  color: var(--black);
  transition: color 0.1s ease;
}

.project--links i:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.div__contact--card {
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 6rem;
}

@media only screen and (max-width: 572px) {
  .div__contact--card {
    padding: 2rem;
    width: 100%;
  }
}

.contact__card--link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact__card--link a {
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 572px) {
  .contact__card--link a {
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
}

.bx-md {
  font-size: 2.25rem !important;
}

.bxl-linkedin-square,
.bxs-envelope,
.bxs-phone {
  color: var(--black);
}

@media only screen and (max-width: 572px) {
  .bx {
    padding: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.contact__card--link p {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

@media only screen and (max-width: 572px) {
  .contact__card--link p {
    font-size: 0.7rem;
  }
}

.footer__div--footer {
  align-items: center;
  background: linear-gradient(to right, var(--black), var(--purple));
  display: flex;
  height: 6.5rem;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .footer__div--footer {
    height: 5.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .footer__div--footer {
    height: 4.5rem;
  }
}

.footer__div--footer p {
  color: #fff;
  font-weight: 400;
  margin: 0;
}

@media only screen and (max-width: 750px) {
  .footer__div--footer p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 450px) {
  .footer__div--footer p {
    font-size: 0.6rem;
  }
}

.div__h2--subtitle span {
  color: var(--purple);
  font-weight: 700;
}

.div__content--text p span {
  color: var(--purple);
  font-weight: 700;
}

.app_footer {
  align-items: center;
  background-color: #ededed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6.5rem;
}

.footer__div--container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0 11rem 6.5rem;
  width: 100%;
}

@media only screen and (max-width: 875px) {
  .footer__div--container {
    padding: 0 1.5rem 6.5rem;
  }
}

.div__h2--title {
  border-bottom: 3px solid var(--purple);
  color: var(--purple);
  font-size: 1.7rem;
  margin: 0 0 3rem;
  padding: 0 0 0.3rem;
}

@media only screen and (max-width: 572px) {
  .div__h2--title {
    font-size: 1.3rem;
  }
}

.div__h2--subtitle {
  font-size: 1rem;
  margin: 0 0 2rem;
  text-align: center;
  width: 30rem;
}

@media only screen and (max-width: 572px) {
  .div__h2--subtitle {
    font-size: 0.8rem;
    width: 100%;
  }
}

/* Button for Dark Mode */

.div__dark-mode--toggle {
  display: block;
  position: fixed !important;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  margin-right: 1rem !important;
  margin-bottom: 1rem !important;
  z-index: 1500;
}

.dark-mode__toggle--circle {
  background-color: var(--purple);
  display: flex;
  height: 42px;
  width: 54px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
}

.dark-mode__toggle--circle .bxs-sun {
  color: #fff;
  font-size: 1.2rem;
  margin: auto;
}

.dark-mode__toggle--circle .bxs-moon {
  color: #fff;
  font-size: 1.2rem;
  margin: auto;
}

.dark-mode__toggle--circle .bxs-down-arrow {
  color: #fff;
  font-size: 0.49rem;
  margin: auto;
}

.dark-mode__toggle--ul {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  transform: translate(0, -44px);
  inset: auto 0px 0px auto;
  margin: 0 0 0.3rem 0;
}

.dark-mode__toggle--ul li:hover {
  cursor: pointer;
}

.dark-mode__toggle--ul i {
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
  opacity: 0.5;
}

.active__DarkMode {
  display: block;
}

/* Dark Mode */

.dark__mode {
  background-color: #121212;
}

.dark__mode--ligth {
  background-color: #131313e1;
}

.dark__mode--on {
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
}

.dark__mode--on li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark__mode--of li:hover {
  background-color: #ddd8d8;
}
