:root {
  --purple: #5425b3;
  --blue: #1125da;
  --black: #252525;
  --js: #ffd600;
  --react: #61dafb;
  --typescript: #1976d2;
  --css: #2965f1;
  --laravel: #f55247;
  --php: #000000;
  --colorcss: #1720fd;
  --darkMode: #212529;
  --white: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  padding: 1rem;
}
body,
html {
  color: #252525;
  color: var(--black);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  color: var(--purple);
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
